/* fonts for the website here*/
@font-face {
    font-family: "lumanosimo";
    src: url("../fonts/lumanosimo.ttf") format("truetype");

}

html {
    scroll-behavior: smooth; /* w3school font */
}

body {
    background-color: #FEDCE7;
    font-family: 'lumanosimo',Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color:purple;
}


/* styling the header starts here*/
.header{
    font-family: 'lumanosimo', Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: purple;
    margin:0;
    padding: 1.5rem 5%;
    align-items: center;
    display:flex;
    justify-content:space-between;
}

.header .menubar a{
    margin:1rem;
    font-size:1.5rem;
}

.header .menubar a:hover{
    color: #D91979;
}

.header .icons div{   
    font-size:2rem;
    cursor:pointer;
    margin-left:2rem;
    
}

.header .icons div:hover {
    color:#D91979;
}

#menu-btn{
    display:none;
}

#sakura{
    height:5rem;
    width:5rem;
}






/* media queries*/

@media (max-width: 991px){
 
body {
     font-size: 45%;
 }

 .header{
   padding:1.5rem,2rem;
 }

}


@media (max-width: 991px) {

    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top:100%;
        right:0;
        background:#fff;
        background:30rem;
    }

}